a, li, ul {
font-family: "Dancing Script", cursive;
}

#cabecera {
background-color: #5b7989;
border-radius: 10px 10px 0px 0px;
padding top: 20px;
padding-bottom: 20px;
margin-bottom: 10px;
}

.titulo {
display: inline-block;
color: white;
font-size: 40px;
text-shadow: 3px 2px 2px  #02010a;
margin-left: 40px;
margin-top: 40px;
}

nav {
  position: absolute;
	top: 50px;
	left: 75%;
}

ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  height: 100%;
}
li{
	font-size: 20px;
	color: white;
  float: right;
  display: block;
  padding-right: 40px;
}

#menu-principal > a {
  display: inline-block;
	flex-wrap: nowrap;
  }

#central {
background-color: #82c3a6;
}

.adaptativa-porcentaje {
	width:95%;
  display: block;
  margin: auto;
  padding-top: 10px;

 }

#fotos2 {
	background-color: #d5c75f;
 }

.fotoiz{
	width:45%;
 display: block;
 margin: 2%;
 display: inline-flex;
 padding: inherit;
 }

.fotosder {
	width:45%;
	display: block;
  margin: 2%;
	display: inline-flex;
	padding: inherit;
}

footer {
 	background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  margin-top: 10px;
  padding-bottom: 12%;
 }

#contacto {
font-size: 120%;
text-align: center;
padding-top: 10px;
position: absolute;
left: 10%;
}

#terminos {
font-size: 120%;
text-align: center;
padding-top: 10px;
position: absolute;
left: 30%;
}

#redes {
font-size: 120%;
text-align: center;
padding-top: 10px;
position: absolute;
left: 55%;
}

#derechos {
font-size: 120%;
text-align: center;
padding-top: 10px;
position: absolute;
left: 70%;
}

#titulo1, #titulo2, #titulo3, #titulo4 {
  font-size: 150%;
  font-weight: bold;
  display: block;
}

@media (max-width:500px){
	.adaptativa-porcentaje{
		width: 90%;
		order:1;
	}
	.fotoiz{
		width: 90%;
		order:2;
	}
	.fotosder{
		width: 90%;
		order:3;
	}
}

@media (max-width:500px){
	#contacto {
    font-size: 100%;
		order:1;
    position: relative;
    left: 6%;
	}
	#terminos {
    font-size: 100%;
		order:2;
    position: relative;
    left: 6%;
	}
	#redes {
    font-size: 100%;
		order:3;
    position: relative;
    left: 6%;
	}
  #derechos {
    font-size: 100%;
		order:4;
    position: relative;
    left: 6%;
	}
}

@media (min-width:501px) {
	footer {
      padding-bottom: 30%;
	}
}

@media (min-width:601px) {
	footer {
      padding-bottom: 25%;
	}
}


@media (min-width:901px) {
	footer {
      padding-bottom: 20%;
	}
}
@media (min-width:1201px) {
	footer {
      padding-bottom: 15%;
	}
}
