a, li, ul {
font-family: "Dancing Script", cursive;
}

body{
  background-color: #02010a;
}

#contenido{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#cabecera {
background-color: #5b7989;
border-radius: 10px 10px 0px 0px;
padding top: 20px;
padding-bottom: 20px;
}

.titulo {
display: inline-block;
color: white;
font-size: 250%;
text-shadow: 3px 2px 2px  #02010a;
margin-left: 40px;
margin-top: 40px;
}

nav {
  position: relative;
	right:1%;
  display: inline;
}

ul{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  height: 100%;
  }

li{
	font-size: 20px;
	color: white;
  float: right;
  display: block;
  padding-right: 40px;
}

li:hover{
    text-decoration: underline;
  }


#menu-principal > a {
  display: inline-block;
	flex-wrap: nowrap;
  }

#central {
background-color: #82c3a6;
padding: 2%;
flex-direction: column;
}

.imagen1 {
  width:30%;
  margin: 1%;
  margin-left: 2%;
  filter: blur(10px);
}

.imagen2 {
  width:30%;
  margin: 1%;
  filter:grayscale(100%);
}

.imagen3 {
  width:30%;
  margin: 1%;
  filter: sepia(90%);
}

.imagen4 {
  width:30%;
  margin: 1%;
  margin-left: 2%;
  filter:grayscale(100%);
}

.imagen5 {
  width:30%;
  margin: 1%;
}

.imagen6 {
  width:30%;
  margin: 1%;
  filter:grayscale(100%);
}

[src*='imagen'] {
  -webkit-box-shadow: 2px 2px 5px #02010a;
  -moz-box-shadow: 2px 2px 5px #02010a;
}

footer {
 	background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 12%;
 }

#contacto {
font-size: 120%;
text-align: center;
padding-top: 10px;
position: absolute;
left: 10%;
}

#terminos {
font-size: 120%;
text-align: center;
padding-top: 10px;
position: absolute;
left: 30%;
}

#redes {
font-size: 120%;
text-align: center;
padding-top: 10px;
position: absolute;
left: 55%;
}

#derechos {
font-size: 120%;
text-align: center;
padding-top: 10px;
position: absolute;
left: 70%;
}

#titulo1, #titulo2, #titulo3, #titulo4 {
  font-size: 150%;
  font-weight: bold;
  display: block;
}

@media (max-width:500px){
	.imagen1{
		width: 90%;
		order:1;
    margin-left: 3%;
	}
	.imagen2{
		width: 90%;
		order:2;
    margin-left: 3%;
	}
	.imagen3 {
		width: 90%;
		order:3;
    margin-left: 3%;
  }
  .imagen4 {
		width: 90%;
		order:4;
    margin-left: 3%;
  }
  .imagen5 {
		width: 90%;
		order:5;
    margin-left: 3%;
  }
  .imagen6 {
		width: 90%;
		order:6;
    margin-left: 3%;
  }
}

@media (max-width:500px){
	#contacto {
    font-size: 100%;
		order:1;
    position: relative;
    left: 2%;
	}
	#terminos {
    font-size: 100%;
		order:2;
    position: relative;
    left: 2%;
	}
	#redes {
    font-size: 100%;
		order:3;
    position: relative;
    left: 2%;
	}
  #derechos {
    font-size: 100%;
		order:4;
    position: relative;
    left: 2%;
	}
}

@media (min-width:501px) {
	footer {
      padding-bottom: 30%;
      font-size: 65%;
	}
}

@media (min-width:601px) {
	footer {
      padding-bottom: 25%;
      font-size: 80%;
	}
}

@media (min-width:750px) {
	footer {
      padding-bottom: 25%;
      font-size: 95%;
	}
}

@media (min-width:901px) {
	footer {
      padding-bottom: 20%;
      font-size: 105%;
	}
}
@media (min-width:1201px) {
	footer {
      padding-bottom: 15%;
      font-size: 110%;
	}
}

@media (max-width:500px){
	.titulo {
    font-size: 220%;
    margin-left: 35%;
		order:1;
    margin-bottom: 20px;
	}

@media (max-width:500px){
#contenido {
width: 100%;
}
}
